.cart-sidebar {
    position: fixed;
    top: 7.5rem;
    right: 0;
    width: 29rem;
    height: calc(100vh - 7.5rem);
    z-index: 200;
    background: var(--color-bg);
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    &.open {
        transform: translateX(0);
    }
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding: 2rem 1.8rem 0;

    h2 {
        font-size: 2rem;
        font-weight: 700;
    }

    button {
        width: 1.1rem;
        height: 1.1rem;
        color: var(--color-text);
        transition: opacity 0.2s ease, transform 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: rotate(-35deg);
        }

        &:active {
            transform: rotate(-180deg);
        }
    }
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    overflow-y: auto;
    flex: 1;
    padding: 0 1.8rem;

    .cart-empty {
        text-align: center;
        font-size: 1rem;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 60%;

        animation: fadeIn 0.3s ease 0.3s both;

        @keyframes fadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 0.4;
            }
        }
    }
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    p:first-child {
        font-size: 1.2rem;
        font-weight: 600;
    }

    p:last-child {
        font-size: 0.8rem;
        opacity: 0.4;
    }
}

.cart-item-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;

    button {
        cursor: pointer;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }

        img {
            width: 1rem;
            height: 1rem;
        }
    }
}

.cart-item-price {
    font-size: 1.6rem;
    font-weight: 600;
}

.quantity-controls {
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid var(--color-text);
    border-radius: 100px;
    padding: 0.5em 0.75rem;

    button {
        font-size: 1rem;
        color: var(--color-text);
        cursor: pointer;
    }

    span {
        font-size: 0.8rem;
        font-weight: 600;
        min-width: 1rem;
        text-align: center;
    }
}

.cart-footer {
    margin-top: 0.8rem;
    display: flex;
    flex-direction: column;
    background: var(--color-card);
    border-radius: 32px 32px 0 0;
    padding: 1.7rem;

    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateY(0);
}

.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
}

.cart-delivery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.8rem;

    span:last-child {
        font-size: 1.6rem;
    }
}

.cart-checkout {
    background: var(--color-accent);
    border-radius: 100px;
    font-family: montserrat, sans-serif;
    margin-top: 0.9rem;
    padding: 1.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: opacity 0.2s ease, transform 0.15s ease;

    &:hover {
        opacity: 0.85;
    }

    &:active {
        transform: scale(0.96);
        opacity: 0.7;
    }
}

.cart-item-bottom {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    flex-direction: row;
}

.cart-item {
    background: var(--color-card);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 0;

    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 1;
    transform: translateX(0);
}

.removing {
    opacity: 0;
    transform: translateX(30px);
}

.cart-item-top {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.8rem;
    align-items: center;
    padding: 1rem;

    img:first-child {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: cover;
    }

    img:last-child {
        width: 18px;
        height: 20px;
    }
}

.cart-item-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #000;
}

.cart-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 199;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: #FCB8521C;
        backdrop-filter: blur(4px);
        opacity: 0;
        transition: opacity 0.3s ease 0.1s; // додав delay
    }

    &.open {
        opacity: 1;
        visibility: visible;

        &::before {
            opacity: 1;
        }
    }
}

.cart-discount {
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: grid-template-rows 0.3s ease, opacity 0.3s ease;

    &.visible {
        grid-template-rows: 1fr;
        opacity: 1;
    }
}

.cart-discount-inner {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--color-accent);
    font-weight: 600;
}

@media (max-width: 816px) {
    .cart-sidebar {
        top: 0rem;
        height: 100vh;
    }

    .cart-overlay {
        top: 5rem;
        height: calc(100vh - 5rem);
    }
}

@media (max-width: 530px) {
    .cart-sidebar {
        width: 100%;
    }
}