header {
    background: var(--color-bg);

    @media (max-width: 816px) {
        position: sticky;
        top: 0;
        z-index: 101;

    }
}

.header-wrapper {
    margin: 2rem 0 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;

    .logo-wrapper {
        height: 100%;
        padding: 0 0 0 1.5rem;

        img {
            width: auto;
            height: 72px;
        }
    }

    .header-nav {
        a {
            padding: 1rem;
        }
    }
}

.cart-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--color-text);
    padding: 0.25rem 0 0.25rem 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    width: fit-content;

    .cart-items-count {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.8px 0 0;
        width: 19px;
        height: 19px;
        background-color: var(--color-cart-num);
        border-radius: 100px;
    }

    .cart-items-price {
        margin: 0 1rem;
    }
}

.header-mobile {
    display: none;

    .burger-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-weight: bold;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .burger {
        display: flex;
        align-items: center;
        justify-content: center;

        .burger-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 24px;

            svg {
                overflow: visible;
            }
        }

        .line-top,
        .line-mid,
        .line-bot {
            transform-origin: center;
            transition: transform 0.3s ease, opacity 0.3s ease;
        }

        .line-top {
            transform-origin: 11px 1px; // центр верхньої лінії
            transform: translateY(0px) rotate(0deg);
        }

        .line-mid {
            transform-origin: 11px 7px; // центр середньої
            opacity: 1;
        }

        .line-bot {
            transform-origin: 11px 13px; // центр нижньої
            transform: translateY(0px) rotate(0deg);
        }

        &.open {
            .line-top {
                transform: translateY(6px) rotate(45deg);
            }

            .line-mid {
                opacity: 0;
            }

            .line-bot {
                transform: translateY(-6px) rotate(-45deg);
            }
        }
    }
}

.mobile-menu {
    display: none;

    .mobile-nav-items {
        gap: 0;

        a {
            padding: 1.3rem 0 0;
            line-height: 3.6rem;
            font-weight: 500;
        }
    }

    .mobile-contacts {
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        margin-top: 2rem;

        a {
            font-size: 1.2rem;
            color: var(--color-accent);

            &:last-child {
                color: var(--color-text);
                font-weight: 600;
            }
        }


    }

    .mobile-socials {
        display: flex;
        align-items: center;
        gap: 2.5rem;
        margin-top: 4.6rem;

        a {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }
}

.cart-float {
    display: none;
}

@media (max-width: 816px) {
    .header-wrapper {
        display: none;
    }

    .logo-wrapper {
        img {
            height: 48px;
        }
    }

    .header-mobile {
        position: relative;
        z-index: 102;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 0.85rem 0;
        background: var(--color-bg);

        .burger {
            font-size: 0.8rem;
        }
    }

    .mobile-menu {
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background: var(--color-bg);
        padding: 8.7rem 4rem 1.5rem;
        display: flex;
        flex-direction: column;

        @media (max-width: 370px) {
            padding: 8.7rem 2.5rem 1.5rem;
        }

        transform: translateX(100%);
        transition: transform 0.3s ease;

        &.menu-open {
            transform: translateX(0);
        }

        nav {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            a {
                font-size: 2rem;
                font-weight: 600;
            }
        }
    }

    .cart-float {
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--color-text);
        background: var(--color-bg);
        box-shadow: 0 4px 10px #00000080;
        padding: 0.3rem;
        font-size: 0.8rem;
        font-weight: bold;
        position: fixed;
        bottom: 4rem;
        right: 1.5rem;
        z-index: 99;

        .cart-items-count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: var(--color-cart-num);
            border-radius: 100px;
        }

        .cart-items-price {
            margin: 0 1rem;
        }
    }
}