.header-wrapper {
    margin: 2rem 0 1.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;


    .logo-wrapper {
        height: 100%;
        padding: 0 0 0 1.5rem;

        img {
            width: auto;
            height: 72px;
        }
    }

    .header-nav {
        a {
            padding: 1rem;
        }
    }

    .cart-wrapper {
        display: flex;
        justify-content: start;
        align-items: center;
        border-radius: 100px;
        border: 1px solid var(--color-text);
        padding: 0.3rem;
        font-size: 0.8rem;
        font-weight: bold;

        .cart-items-count {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
            background-color: var(--color-cart-num);
            border-radius: 100px;
        }

        .cart-items-price {
            margin: 0 1rem;
        }
    }

}