@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

a, button {
    -webkit-tap-highlight-color: transparent;
    transition: opacity 0.2s ease;
    
    &:active {
        opacity: 0.4;
    }
}

:root {
  --color-bg: #000000;
  --color-cart-num: #D71515;
  --color-accent: #FCB852;
  --color-text: #ffffff;
  --color-text-muted: #FFFFFF66;
  --color-card: #222222;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1315px;
  padding: 0 20px;
  margin: 0 auto;
}

.toast {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%) translateY(100px);
    background: var(--color-card);
    color: var(--color-text);
    padding: 1rem 2rem;
    border-radius: 100px;
    font-weight: 600;
    font-size: 1rem;
    z-index: 300;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    white-space: nowrap;
}

.toast-visible {
    transform: translateX(-50%) translateY(0);
    opacity: 0.9;
}