* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #000000;
  --color-cart-num: #D71515;
  --color-accent: #FCB852;
  --color-text: #ffffff;
  --color-text-muted: #FFFFFF66;
  --color-card: #222222;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Montserrat', sans-serif;
  color: var(--color-text);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1315px;
  padding: 20px;
  margin: 0 auto;
}