.slider-wrapper {
  position: relative;
  overflow: hidden;

  .slide-text-mobile {
    display: none;
  }

  .swiper-slide {
    position: relative;
    aspect-ratio: 16 / 6.3;
    height: auto;
    width: 100%;
    background: var(--color-card);
    border-radius: 20px;
    overflow: hidden;

    .slide-set {
      position: absolute;
      width: 58%;
      top: 0%;
      left: 49%;
      transform: translateX(-50%);
      z-index: 3;
    }

    .slide-patch {
      position: absolute;
      width: 20%;
      top: -2%;
      left: 8%;
      z-index: 4;
    }

    .text-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;

      .slide-vector {
        position: relative;
        width: 95%;
        top: -0.4rem;
        left: 1.2%;
        height: auto;
        display: block;
        z-index: 2;
      }

      .slide-text {
        position: absolute;
        width: 90%;
        top: 15%;
        left: 5%;
        z-index: 1;
      }


    }

    .slide-info {
      position: absolute;
      bottom: 8%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 4;

      display: flex;
      align-items: center;
      justify-content: center;

      gap: 0.8rem;
      white-space: nowrap;

      color: var(--color-accent);
      text-transform: uppercase;
      font-weight: 600;
      font-size: 2.5rem;
      line-height: 2.5rem;

      .slide-price {
        border: 3.5px solid var(--color-accent);
        border-radius: 100px;
        font-size: 1.5rem;
        line-height: 1.5rem;
        padding: 0.4rem 2rem;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .slider-btn-prev,
  .slider-btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .slider-btn-prev {
    left: 0.6rem;
  }

  .slider-btn-next {
    right: 0.6rem;
  }

  .desktop-pagination {
    position: relative;
    margin-top: 1.2rem;
    text-align: center;

    .swiper-pagination-bullet {
      background: #fff;
      opacity: 0.4;
    }

    .swiper-pagination-bullet-active {
      background: #fff;
      opacity: 1;
    }
  }

  .slider-controls {
    display: none;
  }

  @media (max-width: 768px) {
    .desktop-pagination {
      display: none;
    }

    .slider-btn-prev,
    .slider-btn-next {
      display: none;
    }

    .slider-controls {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1rem;

      .custom-pagination {
        flex: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;

        .swiper-pagination-bullet {
          background: #fff;
          opacity: 0.4;
        }

        .swiper-pagination-bullet-active {
          background: #fff;
          opacity: 1;
        }
      }
    }
  }

  @media(max-width: 580px) {

    .swiper-slide {
      aspect-ratio: 16 / 16;

      .text-wrapper {
        .slide-vector {
          display: none;
        }
      }

      .slide-text,
      .slide-patch {
        display: none;
      }

      .slide-text-mobile {
        display: block;
        position: absolute;
        width: 60%;
        top: 5%;
        left: 20%;
        z-index: 1;
      }

      .slide-set {
        width: 90%;
        top: 18%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 3;
      }

      .slide-info {
        gap: 1rem;
        font-size: 1.7rem;
        line-height: 1.7rem;
        bottom: 6%;
        left: 50%;

        .slide-price {
          border: 3px solid var(--color-accent);
          padding: 0.3rem 1.5rem;
          font-size: 1rem;
          line-height: 1rem;
        }
      }
    }
  }
}